* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* opera/ie8+ */
    -moz-box-sizing: border-box;
    /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, autres WebKit */
}

/* Responsive Mobile First */
html {
    width: 100%;
}

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background: #f6f6f6;
    width: 100%;
}

/* Animation Loader*/
.loader {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #F6F6F6;
    position: fixed;
    height: 100%;
    inset: 0;
    z-index: 1;
    animation: disappear 1s 1.5s forwards;
    opacity: 0.9;
}

@keyframes disappear {
    0% {
        z-index: 1;
    }

    100% {
        z-index: -99;
    }
}

.loader i {
    animation: spin 3s;
    color: transparent;
    background-color: white;
    background-image: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
    background-clip: text;
    -webkit-background-clip: text;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

/*Header*/
header {
    display: block;
}

.header {
    box-shadow: 0px 5px 6px 0px rgb(0 0 0 / 20%);
    display: flex;
    justify-content: center;
    height: 80px;
    width: 100%;
    background-color: white;
    align-items: center;
}

.header__logo {
    height: 35px;
}

div {
    display: block;
}

/*Main*/
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Location*/
.location {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #383838;
}

.fas {
    font-weight: 900;
}

.location__city {
    margin-left: 13px;
    font-weight: 400;
}

p {
    display: block;
    margin-block-start: 17px;
    margin-block-end: 17px;
    font-size: 14px;
}

/*Section1*/
.section1 {
    background: #f2f2f2;
    width: 100%;
}

.section1__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.section1__title {
    text-align: center;
    max-width: 250px;
    margin: 0;
}

.section1__text {
    text-align: center;
}

.section1__button {
    background: linear-gradient(to top left, #9356dc, #ff79da);
    color: white;
    padding: 0 20px;
    border-radius: 200px;
    font-weight: bold;
    transition-duration: 0.2s;
}

.section1__button:hover {
    box-shadow: 0.4rem 0.4rem 15px rgb(0 0 0 / 50);
    background: linear-gradient(to top left, #9b63df, #ff88de);
}

/*Functioning*/
.functioning__contain {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}

.functioning {
    width: 95%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.functioning__step {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.functioning__steps {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 16%)
}

.functioning__steps:hover {
    cursor: pointer;
    box-shadow: 0.4rem 0.4rem 15px rgb(0 0 0 / 50%);
    background-color: #f3f3f3;

}

.functioning__steps:hover i {
    color: #9356dc;

}

.functioning__number {
    background-color: #9356dc;
    color: white;
    border-radius: 400px;
    padding: 2px 7px 2px 7px;
    margin: 0 -10px;
}

.functioning__icon {
    color: #7a7a7a;
    margin: 0 30px;
}


.functioning__text {
    font-weight: 600;
}

/*Restaurants*/
.restaurants {
    background-color: #f6f6f6;
    padding: 2rem 1rem;
    width: 100%;
}

.container {
    max-width: 1280px;
    margin: auto;
    position: relative;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 16px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.cards {
    display: flex;
    flex-direction: column;
    row-gap: 16px;

}

.card {
    background-color: #fff;
    border-radius: 16px;
    position: relative;
    text-decoration: none;
    color: black;
    display: block;
}

.card__img {
    height: 192px;
    width: 100%;
    border: 0 solid transparent;
    border-radius: 16px 16px 0 0;
    box-shadow: none;
    object-fit: cover;
}

.card__new {
    background-color: #99e2d0;
    color: #1b6150;
    padding: 5px;
    border-radius: 3px;
    position: absolute;
    top: 10px;
    right: 15px;
}

.card__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
}

.card__content {
    margin-left: 10px;
}

.card__title {
    margin: 0 0 4px;
}

.card__subtitle {
    font-weight: normal;
}

.card__details-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    width: 30px;
}

.heart1 {
    position: absolute;
    font-size: 30px;
}

.heart2 {
    position: relative;
    color: transparent;
    background-color: white;
    background-image: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 0.2s;
    font-size: 30px;
}

.heart2:hover {
    opacity: 1;
}

/*Pages*/
.header__arrow {
    position: absolute;
    font-size: 20px;
    margin: 28px 0 0 20px;
}

.header__link {
    color: black;
}


.img {
    width: 100%;
}


.menu_global {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -34px;
}

.menu {
    padding: 0 8px;
    width: 100%;
    border-radius: 30px 30px 0 0;
    background-color: #F6F6F6;
}

.menu__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menu__title__icone {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 19px 28px 0px 0px;
}

.menu__title__h2 {
    font-family: 'Shrikhand';
    margin-bottom: 0;
}

.menu__card__bloc {
    max-width: 100%;
    overflow: hidden;
    padding: 0 1rem;
}

.menu__card__title {
    font-weight: 400;
    border-bottom: 5px #99e2d0 solid;
    width: 60px;
    margin: 40px 0 30px 0;
}

.menu__card__options {
    row-gap: 16px;
}

.menusdetails--1 {
    height: 400px;
}

.menu__card__detail {
    background-color: #fff;
    padding: 1rem;
    display: flex;
    border-radius: 0.75rem;
    margin: 1rem 0;
    box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
    overflow: hidden;
    cursor: pointer;
    animation: itemAppear 1s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(.5, 1.58, .34, .82);
    width: 100%;
    opacity: 0;
}

/*Animation Menu*/
@keyframes itemAppear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.delay-0 {
    animation-delay: 0.1s;
}

.delay-1 {
    animation-delay: 0.3s;
}

.delay-2 {
    animation-delay: 0.5s;
}

.delay-3 {
    animation-delay: 0.7s;
}

.delay-4 {
    animation-delay: 0.9s;
}

.delay-5 {
    animation-delay: 1.1s;
}

.delay-6 {
    animation-delay: 1.3s;
}

.delay-7 {
    animation-delay: 1.5s;
}

.delay-8 {
    animation-delay: 1.7s;
}

.delay-9 {
    animation-delay: 1.9s;
}

.menu__card__content {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 80%;
}

.menu__card__name {
    font-weight: bold;
    margin: 0;
    font-size: 16px;
}

.menu__card__subtitle {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 13px;
}

.menu__card__price {
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 0.5rem;
    width: 20%;
    font-size: 14px;
}

/*Animation Price*/
.menu__card__confirmation {
    background-color: #99e2d0;
    margin: -1rem -5rem -1rem 1rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .5s;
}

.menu__card__detail:hover .menu__card__confirmation {
    margin-right: -1rem;
}

.menu__card__wrapicon {
    height: 1.6rem;
    width: 1.6rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transform: rotate(180deg);
    transition-duration: .5s;
}

.menu__card__detail:hover .menu__card__wrapicon {
    transform: rotate(0);
}


.menu__card__icon {
    color: #99e2d0;
}

@keyframes wrapicon {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.menu__contain-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.menu__button {
    background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
    color: white;
    border-radius: 200px;
    font-weight: bold;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 30%);
    padding: 20px 45px;
    margin: 50px 0;
    font-size: 18px;
}

.menu__button:hover {
    box-shadow: 0.4rem 0.4rem 15px rgb(0 0 0 / 50);
    background: linear-gradient(to top left, #9b63df, #ff88de);
}

/*Footer*/
footer {
    background-color: #383838;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__bloc {
    display: inline;
    padding: 0 40px;
    width: 100%;
}

.footer_title {
    font-weight: bold;
    font-family: shrikhand;
    color: white;
    font-size: 20px;
}

.footer__bloc-links {
    display: inline-flex;
    flex-direction: column;
    width: auto;
    list-style-type: none;
}

.footer__bloc-link {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    color: white;
    height: 30px;
    cursor: pointer;
    text-decoration: none;
}

.footer__bloc-link:hover {
    text-decoration: underline;
}

.footer__bloc-links i {
    margin-right: 7px;
    color: white;
}


/* Responsive*/

/* Accueil */

@media screen and (min-width: 1024px) {
    .section1__title {
        max-width: 40%
    }

    .functioning__step {
        max-width: 1280px;
        flex-direction: row;
        justify-content: space-between;
    }

    .functioning__steps {
        width: 30%;
    }

    .cards {
        max-width: 1280px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .card {
        width: 48%;
    }

    .footer__bloc-links {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    /* Pages */

    .menu__card {
        max-width: 1280px;
        display: flex;
        flex-direction: row;
    }

    .menu__card__bloc {
        width: 40%;
    }

    .card__img {
        height: 340px;
    }
}