* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* opera/ie8+ */
    -moz-box-sizing: border-box;
    /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, autres WebKit */
}

/* Responsive MOBILE */


html {
    width: 100%;
}

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background: #f6f6f6;
    width: 100%;
}

header {
    display: block;
}


.header {
    box-shadow: 0px 5px 6px 0px rgb(0 0 0 / 20%);
    position: relative;
    display: flex;
    justify-content: center;
    height: 80px;
    width: 100%;

}

.header__logo {
    height: 35px;
    margin-top: 6%;
}

div {
    display: block;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f3f3f3;
    color: #7a7a7a;
}


.fas {
    font-weight: 900;
}

.location__city {
    margin-left: 13px;
    font-weight: 400;
}

p {
    display: block;
    margin-block-start: 17px;
    margin-block-end: 17px;
}